
@{
    ViewBag.Title = "Profiel";
}

<h2>Profiel</h2>

@using (@Html.BeginForm())
{
        
        <div class="Profilediv1">
            Naam: @ViewBag.user<br>
            Email: @ViewBag.email<br>
            Land: @ViewBag.land<br>
            Stad: @ViewBag.stad<br>
        </div>

            <img src="~/Images/Pikachu.png" class="special"/>

        <div class="Profilediv2">
            Beschrijving:
            <div class="Profilediv3">
                @ViewBag.beschrijving
            </div>
        </div>
}
