<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--De css komt van de Style.css en bootstrap af.-->
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <title>@ViewBag.Title</title>
</head>

<body>
    <!--Een div menubar waarin alle tabs staan.-->
    <div class="menubar">
        <!--Een div met het logo.-->
        <div class="logo">
            <img src="~/Images/avatar_2cd47bc1ad07_128.png" width="32" height="32"/>
            Kikkerstarter
        </div>
        <!--De menu div. Hierin staan actionlinks.-->
        <div class="menu">
            @Html.ActionLink("Home", "Home", "Home", new { area = "" }, new { @class = "tab" })
            @Html.ActionLink("Maak een Project", "CProject", "Project", new { id = "" }, new { @class = "tab"})
            <!--Als ViewBag.loggedin == "Y" dan staat er een actionlink van uitloggen anders staat er Login.-->
            @if (ViewBag.loggedin == "Y")
            {
                @Html.ActionLink("Uitloggen", "Uitloggen", "Login", new { id = "" }, new { @class = "tab" })
            }
            else
            {
                @Html.ActionLink("Login", "Login", "Login", new { area = "" }, new { @class = "tab" })
            }

            @Html.ActionLink("Registreren", "Register", "Login", new { area = "" }, new { @class = "tab" })

        </div>
        <!--Als Viewbag.loggedin == "Y" dan is er een extra actionlink die naar de Profile view verwijst.-->
        @if (ViewBag.loggedin == "Y")
        {
            @Html.ActionLink("Welkom " + (string)ViewBag.user, "Profile", "PRelated", new { area = "" }, new { @class = "naam"})
        }
    </div>

    <div class="wrapper">
        @RenderBody()
        
        <footer class="footer">
            <hr />
            <p>&copy; @DateTime.Now.Year - Olaf van Dijk</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
